@media (max-width:1024px) {
	body {
		max-width: 100%;
		min-width: 100%;
	}

	.container {
		max-width: 100%;
		padding-left: 18px !important;
		padding-right: 18px !important;
	}

	.discussion-sidebar {
		width: 200px !important;
	}

	.discussion-timeline {
		width: calc(100% - 220px) !important;
	}
}

@media (max-width: 960px) {
	.org-main {
		width: 65% !important;
	}

	/* Profile */
	.profilecols .one-fourth,
	.profilecols .three-fourths {
		width: 100%;
	}

	.profilecols .vcard-avatar {
		display: inline-block !important;
		float: left !important;
		margin-right: 16px !important;
	}

	.profilecols .vcard-names {
		display: inline-block !important;
	}

	.profilecols .vcard-details,
	.profilecols .vcard-stats,
	.profilecols .vcard-stats + .clearfix {
		display: inline-block;
		width: calc(100% - 250px);
	}

	.profilecols .vcard-stats + .clearfix {
		margin-bottom: 16px;
	}
}

@media (max-width: 840px) {
	.org-sidebar {
		float: left !important;
		width: 100% !important;
	}

	.org-main {
		width: 100% !important;
	}

	/* Profile - Contributions */
	.js-calendar-graph {
		max-width: 100%;
		overflow: scroll;
	}

	/* Footer */
	.site-footer-links.right {
		float: left !important;
	}

	.site-footer {
		text-align: center;
	}

	.site-footer .octicon-mark-github {
		top: 12px;
	}

	.site-footer-links,
	.site-footer-links.right {
		float: none !important;
	}
}

@media (max-width: 790px) {
	.files .message {
		display: none;
	}

	.reponav-item {
		border-radius: 3px;
		margin-bottom: 8px;
	}

	.reponav-item.selected {
		border-color: #d26911 #e5e5e5 #e5e5e5 !important;
	}

	.profilecols .column {
		width: 100% !important;
	}
}
